.copyright {
  text-align: center;
}

html {
font-size: 100%;
-webkit-text-size-adjust: 100%;
-ms-text-size-adjust: 100%;
background-color: #f3ece6;
}

body {
margin: 0;
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
line-height: 20px;
color: #333;
background-color: #f3ece6;
}


.navbar .nav>li>a {
float: none;
padding: 10px 15px 10px;
color: #777;
text-decoration: none;
text-shadow: 0 1px 0 #fff;
background-color: #59524a;
}


a {
color: #966023;
text-decoration: none;
}

a:hover, a:focus {
color: #966023;
text-decoration: underline;
}

.label-info, .badge-info {
background-color: #516D86;
}

